body {
    background-image: linear-gradient(270deg, rgb(43, 45, 66), rgb(141, 153, 174));
}

h1 {
    color: rgb(205, 205, 205);
    font-family: "Andale Mono", "Freemono", monospace;
    font-size: 80px;
}

p {
    color: rgb(210, 210, 210);
    text-align: left;
    font-family: "Andale Mono", "Freemono", monospace;
}